<div fxLayout="column">
    <div fxLayoutAlign="center">
      <h1 class="order-form">Order Form</h1>
    </div>
    <div>
      <input placeholder="Full Name" class="first-name" />
    </div>
    <div><input placeholder="Email" class="email" /></div>
    <div><input placeholder="Phone number" class="phone" /></div>
    <div><input placeholder="Today's date" class="todays-date" /></div>
    <div><input placeholder="Order due date" class="order-due-date" /></div>
    <div><input placeholder="Date of event" class="date-of-event" /></div>
    <div><input placeholder="Time of event" class="time-of-event" /></div>
  
    <div><input placeholder="Event Location" class="event-location" /></div>
  
    <div><input placeholder="Type of event" class="type-of-event" /></div>
  
    <div><input placeholder="Number Of Guest" class="Number-of-guest" /></div>
  
    <div><input placeholder="Pickup Time" class="pickup-time" /></div>
    <div>
      <div fxLayoutAlign="start">
        <div class="delivery-method">Delivery Method</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="250px">
          <input type="radio" checked /> <label> For Pickup </label>
        </div>
        <div fxFlex>
          <div fxFlex="250px">
            <input type="radio" /> <label> For Delivery </label>
          </div>
        </div>
      </div>
    </div>
  
    <div fxLayoutAlign="center">
      <div fxFlex="100px" class="button-submit">
        <input type="submit" placeholder="Submit" />
      </div>
    </div>
  </div>